<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>

<div class="parent-container flex-column justify-content-center align-items-center tall-div">
  <div class="entries-block">
      <label>Enter the No. of entries to be updated in IndexeDB :</label>
      <input type="number" class="form-control wide-div" [ngModel]="objectsCount" (ngModelChange)="objectsCount = $event"/>
  </div>

  <button class="btn btn-md btn-danger margin-bottom-md btn-block" (click)="createObjects(objectsCount, false)">
    Update IndexedDB in Main Thread
  </button>

  <button class="btn btn-md btn-success margin-bottom-md btn-block" (click)="createObjects(objectsCount, true)">
    Update IndexedDB with Web Worker
  </button>

</div>

<i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i>
