.rain {
  background: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  height: 50px;
  position: absolute;
  width: 2px;
}

.btn-block{
  width: 270px;
  font-weight: bold;
}

label{
  color: lightpink;
  margin-bottom: 10px;
}

.entries-block{
  margin-bottom: 50px;
  border: none;
  outline: none;
}

@media (min-width:300px) and (max-width: 640px) {
  .entries-block{
    width: 300px; 
  }

  label{
    font-size: 12px;
  }
}

@media (min-width: 641px) { 
  .entries-block{
    width: 50vw;
  }

  label{
    font-size: 18px;
  }
}



$rain: 300;

@for $i from 1 through $rain {
  $top: (random(50) + 50) * 1%;
  $left: random(100) * 1%;
  $opacity: (random(30) + 30) * 0.01;
  $delay: random(20) - 0.2s;

  .rain:nth-of-type(#{$i}) {
    animation-name: rain-#{$i};
    animation-delay: $delay;
    animation-duration: random(6) + 2s;
    animation-iteration-count: infinite;
    left: $left;
    opacity: $opacity;
    top: -$top;
  }

  @Keyframes rain-#{$i} {
    0% {
      left: $left;
      opacity: $opacity;
      top: -$top;
    }

    100% {
      opacity: 0;
      top: $top + 40%;
    }
  }
}
