<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>

<input
  type="number"
  [ngModel]="objectsCount"
  (ngModelChange)="objectsCount = $event"
/>
<button (click)="createObjects(objectsCount, true)">
  Update IDB in Background Thread (Web Worker)
</button>

<button (click)="createObjects(objectsCount, false)">
  Update IDB in Main Thread
</button>

<i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i
><i class="rain"></i><i class="rain"></i>
