/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  background: #222222;
  box-shadow: inset 0 0 400px #111111;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-item-balloon{
  flex: 1 1 0;
}

.flex-item-fixed{
  flex: 0 0 1;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.wide-div{
  width: 100%;
}

.tall-div{
  height: 100%;
}

.margin-bottom-md{
  margin-bottom: 25px;
}